<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xmlns:rabbit="http://www.springframework.org/schema/rabbit"
    xsi:schemaLocation="http://www.springframework.org/schema/rabbit 
    http://www.springframework.org/schema/rabbit/spring-rabbit.xsd  
    http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd 
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context.xsd">
 
   
  <import resource="properties-config.xml"/>
     
  <context:component-scan base-package="com.wakkir.photo" />
     
  <bean id="photo" class="com.wakkir.photo.RenameMediaFileNames">
      <property name="needRename" value="#{appProperties['photo.needRename']}"/>
      <property name="keepSameFolderStructure" value="#{appProperties['photo.keepSameFolderStructure']}"/>
      <property name="inputPath" value="#{appProperties['photo.source.path']}"/>
      <property name="extension" value="#{appProperties['photo.extention']}"/>
      <property name="outputPath" value="#{appProperties['photo.destination.path']}"/>
  </bean>
  
  <!--
    private boolean needRename=true;
    private boolean keepSameFolderStructure=false; 
    private String inputPath = "\\\\Fs01\\mymedia\\MyVideos\\STREAM";
    private String extension = ".mts";
    private String outputPath = "\\\\Fs01\\mymedia\\MyVideos\\STREAM";
  -->
 
</beans>