<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.0.xsd
		">

    <context:property-placeholder location="file:///${mq-converter-config-dir}//wrapper.properties"/>


    <bean id="wrapperService" class="net.aconite.wrapper.service.AconiteWrapperService">
        <constructor-arg value="${wrapper_server_port}"/>
        <constructor-arg value="${wrapper_server_poll_rate}"/>
    </bean>

    <bean id="startServiceHandler"  class="net.aconite.wrapper.service.StartServiceHandler"/>

    <bean id="stopServiceHandler"   class="net.aconite.wrapper.service.StopServiceHandler"/>


</beans>